@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");

@page {
	margin: 0mm;

	size: A4 portrait;
}

html {
	font-size: 9pt;
	line-height: 1.5;
}

body {
	margin: 0mm;
	background: #eeeeee;
	font-family: "Noto Sans JP", sans-serif;
}

.page {
	position: relative;
	width: 210mm;
	height: 297mm;
	margin: auto;
	padding: 12mm 15mm;
	box-sizing: border-box;
	background: #fefefe;

	&_window {
		display: block;
		position: absolute;
		top: 12.5mm;
		left: 24mm;
		width: 90mm;
		height: 45mm;
		border: 1px solid #ff0000;
		border-radius: 5mm;
	}

	&_border {
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background: #64c4ff;

		&.-border01 {
			top: 33.333%;
		}

		&.-border02 {
			top: 66.666%;
		}
	}
}

.head {
	display: table;
	width: 100%;

	&_ttl {
		display: table-cell;
		font-weight: bold;
		font-size: 20pt;
		vertical-align: middle;
	}

	&_info {
		display: table-cell;
		text-align: right;
		vertical-align: middle;

		dl {
			margin-top: 0.2rem;

			&:first-child {
				margin-top: 0;
			}

			dt {
				display: inline;
			}

			dd {
				display: inline;
			}
		}
	}
}

.info {
	overflow: hidden;

	&_col {
		&.-left {
			float: left;
		}

		&.-right {
			float: right;
			width: 22em;
		}
	}

	&_comp {
		display: table;
		width: 90mm;
		height: 45mm;
		margin-top: 0.5mm;
		margin-left: 9mm;
		padding: 0 7mm;

		&_cnt {
			display: table-cell;
			vertical-align: middle;
		}

		&_addr {}

		&_name {
			display: inline-block;
			margin-top: 0.5rem;
			padding-bottom: 0.25rem;
			border-bottom: 2px solid;
			border-color: #ffffff;
			border-bottom-color: #000000;
			font-weight: bold;
			font-size: 1.25rem;

			small {
				margin-left: 1em;
			}
		}

		&_dep {
			margin-top: 0.75rem;
		}

		&_manage {}
	}

	&_text {
		margin-top: 3rem;
	}

	&_detail {
		margin-top: 1.5rem;

		dl {
			overflow: hidden;

			dt {
				float: left;
			}

			dd {
				margin-left: 6em;
			}
		}
	}

	&_total {
		display: table;
		margin-top: 1rem;
		padding-bottom: 0.5rem;
		overflow: hidden;
		border-bottom: 2px solid;
		border-color: #ffffff;
		border-bottom-color: #000000;
		font-size: 1.2rem;

		dt {
			display: table-cell;
			vertical-align: bottom;
		}

		dd {
			display: table-cell;
			padding-left: 2rem;
			font-size: 1.75em;
			text-align: right;
			vertical-align: bottom;

			small {
				font-size: 1rem;
			}
		}
	}

	&_ttl {
		padding: 0.5rem;
		background: #eeeeee;
		font-weight: bold;
		font-size: 1.5rem;
		text-align: center;
		vertical-align: middle;
	}

	&_data {
		margin-top: 1rem;
		text-align: right;

		dl {
			display: inline-block;
			overflow: hidden;

			dt {
				float: left;
			}

			dd {
				margin-left: 6em;
			}
		}
	}

	&_nw {
		position: relative;
		margin-top: 0.5rem;
		padding-bottom: 1rem;

		&_cnt {
			position: relative;
			z-index: 10;
		}

		&_name {
			display: table;
			line-height: 1;

			div {
				display: table-cell;
				padding-right: 1rem;
				vertical-align: bottom;

				svg {
					width: 30pt;
					height: auto;
				}
			}

			span {
				display: table-cell;
				margin-top: 0.5rem;
				font-weight: bold;
				font-size: 1.25rem;
				vertical-align: bottom;
			}
		}

		&_info {
			margin-top: 1rem;
		}

		&_sign {
			position: absolute;
			right: 0;
			bottom: 0;

			mix-blend-mode: multiply;
		}
	}

	&_price {
		width: 100%;
		margin-top: 1.5rem;

		th,
		td {
			padding: 0.25rem 0.9rem;
			border: 1px solid;
		}

		th {
			background: #eeeeee;
			text-align: center;
		}

		td {
			font-size: 1.25em;
			text-align: right;
		}
	}
}

.tbl {
	width: 100%;
	// min-height: 30rem;
	margin-top: 3rem;

	th,
	td {
		padding: 0.9rem 0.9rem;
		border: 1px solid;
	}

	thead {
		th {
			padding: 0.4rem 0.9rem;
			background: #eeeeee;
			text-align: center;
		}
	}

	td {

		&:nth-child(2),
		&:nth-child(4) {
			text-align: center;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			white-space: nowrap;
		}

		&:nth-child(5),
		&:nth-child(6) {
			text-align: right;
		}
	}
}

.foot {
	margin-top: 0.2rem;
	overflow: hidden;

	.caution {
		float: left;
		margin-top: 1.5rem;
		font-size: 0.8em;

		li {
			padding-left: 1em;
			text-indent: -1em;
		}
	}

	.sum {
		display: table;
		float: right;

		dl {
			display: table-row;

			dt,
			dd {
				display: table-cell;
				padding: 0.4rem 0;
				border-bottom: 1px dotted;
				border-color: #ffffff;
				border-bottom-color: #000000;
			}

			dt {
				padding-right: 1rem;
				font-weight: normal;
			}

			dd {
				text-align: right;
			}

			&.-total {

				dt,
				dd {
					border-bottom: 1px solid;
					font-weight: bold;
				}
			}
		}
	}
}

.end {
	clear: both;
	margin-top: 3rem;
	text-align: right;
	vertical-align: bottom;
}