@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap");
@page {
  margin: 0mm;
  size: A4 portrait;
}
html {
  font-size: 9pt;
  line-height: 1.5;
}

body {
  margin: 0mm;
  background: #eeeeee;
  font-family: "Noto Sans JP", sans-serif;
}

.page {
  width: 210mm;
  height: 297mm;
  margin: auto;
  padding: 12mm 15mm;
  box-sizing: border-box;
  background: #fefefe;
}

.head {
  display: table;
  width: 100%;
}
.head_ttl {
  display: table-cell;
  font-weight: bold;
  font-size: 20pt;
  vertical-align: middle;
}
.head_info {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}
.head_info dl {
  margin-top: 0.2rem;
}
.head_info dl:first-child {
  margin-top: 0;
}
.head_info dl dt {
  display: inline;
}
.head_info dl dd {
  display: inline;
}

.info {
  margin-top: 3rem;
  overflow: hidden;
}
.info_col.-left {
  float: left;
}
.info_col.-right {
  float: right;
}
.info_name {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
  border-color: #ffffff;
  border-bottom-color: #000000;
  font-weight: bold;
  font-size: 1.25rem;
}
.info_name small {
  margin-left: 1em;
}
.info_text {
  margin-top: 1rem;
}
.info_detail {
  margin-top: 2rem;
}
.info_detail dl {
  overflow: hidden;
}
.info_detail dl dt {
  float: left;
}
.info_detail dl dd {
  margin-left: 6em;
}
.info_total {
  display: table;
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  border-bottom: 2px solid;
  border-color: #ffffff;
  border-bottom-color: #000000;
  font-size: 1.2rem;
}
.info_total dt {
  display: table-cell;
  vertical-align: bottom;
}
.info_total dd {
  display: table-cell;
  margin-left: 6em;
  font-size: 1.75em;
  text-align: right;
  vertical-align: bottom;
}
.info_total dd small {
  font-size: 1rem;
}
.info_nw {
  position: relative;
}
.info_nw_cnt {
  position: relative;
  z-index: 10;
}
.info_nw_name {
  display: table;
  line-height: 1;
}
.info_nw_name div {
  display: table-cell;
  padding-right: 1rem;
  vertical-align: bottom;
}
.info_nw_name div svg {
  width: 30pt;
  height: auto;
}
.info_nw_name span {
  display: table-cell;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  vertical-align: bottom;
}
.info_nw_info {
  margin-top: 1rem;
}
.info_nw_sign {
  position: absolute;
  right: 0;
  bottom: -1rem;
  mix-blend-mode: multiply;
}
.info_please {
  width: 22em;
  margin-top: 3rem;
  padding: 1.25rem;
  background: #efefef;
}
.info_please dt {
  font-weight: bold;
}
.info_please dd {
  margin-top: 0.25rem;
  font-size: 0.9rem;
}

.tbl {
  width: 100%;
  margin-top: 3rem;
}
.tbl th,
.tbl td {
  padding: 0.9rem 0.9rem;
  border: 1px solid;
}
.tbl thead th {
  padding: 0.4rem 0.9rem;
  background: #eeeeee;
  text-align: center;
}
.tbl td:last-child {
  text-align: right;
  white-space: nowrap;
}

.sign {
  margin-top: 3rem;
  border: 1px solid;
  border-spacing: 1.5rem;
}
.sign_col {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
}
.sign_form {
  margin-top: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 1.2rem;
}
.sign_mark {
  display: table;
  width: 6rem;
  border: 1px solid #dddddd;
  border-spacing: 0rem;
}
.sign_mark span {
  display: table-cell;
  height: 6rem;
  text-align: center;
  vertical-align: middle;
}

.foot {
  margin-top: 0.2rem;
  overflow: hidden;
}
.foot .caution {
  float: left;
  margin-top: 1.5rem;
  font-size: 0.8em;
}
.foot .caution li {
  padding-left: 1em;
  text-indent: -1em;
}
.foot .sum {
  display: table;
  margin-top: 0.2rem;
  margin-left: auto;
}
.foot .sum dl {
  display: table-row;
}
.foot .sum dl dt,
.foot .sum dl dd {
  display: table-cell;
  padding: 0.4rem 0;
  border-bottom: 1px dotted;
  border-color: #ffffff;
  border-bottom-color: #000000;
}
.foot .sum dl dt {
  padding-right: 1rem;
  font-weight: normal;
}
.foot .sum dl dd {
  text-align: right;
}
.foot .sum dl.-total dt,
.foot .sum dl.-total dd {
  border-bottom: 1px solid;
  font-weight: bold;
}

.end {
  clear: both;
  margin-top: 3rem;
  text-align: right;
  vertical-align: bottom;
}/*# sourceMappingURL=order.css.map */